<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#social">Social</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://goo.gl/LdNZi9" target="_blank">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
        <header>
            <div class="container">
                <div class="intro-text">
                      <a href="#">
                          <img src="img/logos/logo_tevm.png" class="img-responsive img-centered" alt="">
                      </a>
                      </br>
                      </br>
                      <div class="intro-heading">Caridade, Amor e União</div>
                      <div class="intro-heading1">Filhos, netos, familiares e amigos de longa data. A minha missão esta CUMPRIDA!</div>
                      <div class="intro-heading1">Agora chegou a hora de recomeçar! Força, Fé, União. Que deus e as almas te abençoes sempre!</div>
                      <div class="intro-heading2">Matildes Eloi</div>
                      <div class="intro-heading2"><i class="fa fa-heart" aria-hidden="true"></i> 25/02/1942</div>
                      <div class="intro-heading2"><i class="fa fa-heart-o" aria-hidden="true"></i> 16/07/2016</div>
                      <a href="#social" class="page-scroll btn btn-xl">Next</a>
                </div>
            </div>
        </header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
