<!-- Services Section -->
    <section id="social">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Social</h2>
                    <h3 class="section-subheading text-muted">Conectado com todos.</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="http://goo.gl/CL3y5C" target="_blank"><i class="fa fa-youtube-square fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">Pontos Cantados</h4>
                    <p class="text-muted">Veja nos nossos pontos cantados nos canais do youtube.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://goo.gl/L3Fy6w" target="_blank"><i class="fa fa-facebook-official fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">Rede Social</h4>
                    <p class="text-muted">Veja nosso site no facebook.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="http://goo.gl/5TZAgS" target="_blank"><i class="fa fa-twitter-square fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">Twitter</h4>
                    <p class="text-muted">Veja nosso twitter.</p>
                </div>

            </div>
        </div>
    </section>
